.eslintrc       export-ignore
.env            export-ignore
.gitignore      export-ignore
.gitattributes  export-ignore
.editorconfig   export-ignore
package.json    export-ignore
src/            export-ignore
scripts/            export-ignore
.gitignore      merge=ours
.gitattributes  merge=ours

