//$bg: #282C34;
//$bg: #21252B;
$bg: #14161A;
$fg: #9DA5B4;
$hover: #FFF;
$font: 'Myriad Set Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
$font-size: 16px;

$red: #E06C75;
$green: #98C379;
$blue: #61AFEF;
$violet: #C678DD;
$yellow: #E5C07B;